.mgallery_img {
    float:left;
    margin-right:5px;
    margin-bottom:5px;
    width:80px;
    height:80px;
}
.mgallery_img img {
    display:block;
    width:80px;
    height:80px;
    position:relative;
}
.mgallery_img .mg_hide {
    display:none;
}
.mgallery_img a.mg_del {
    background:#000;
    color:#fff;
    width:20px;
    text-align:center;
    font-weight:bold;
    font-size:14px;
    line-height:20px;
    padding-top:-4px;
    position:relative;
    z-index:1;
    left:60px;
    top:-80px;
    text-decoration:none;
    opacity: 0.7;
    filter: alpha(opacity=70);
}
.mgallery_img a.mg_del:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}
.mgallery_img:hover .mg_hide {
    display:block;
}